
<div
  style="
    background:#e0e0e0;;
    padding: 30px 0;
    text-align: center;
    font-family: Arial;
  "
>
  <h2>Hey, AirOne Realty Member</h2>


<div
  style="margin: 0 auto; max-width: 720px; padding: 30px; font-family: Arial;text-align: left;"
>

  <h3>I hope you are doing well, please find your password below</h3>
 
  <h4>Password: <%= password %></h4>
 
</div>


<div
  style="
  background: #4c0898;
    padding: 30px 0;
    text-align: center;
    font-family: Arial;
    color: #fff;
  "
>
  <h3>Thanks</h3>
</div>
</div>